
.sugestao fieldset{
    align-content: center;
}

.sugestao fieldset legend{
    display: none;
}

.sugestao ol li{
    /* background-color: tomato; */
    align-items: flex-end;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 0px 10px 15px;

}

.sugestao ol li label{
    display: block;
    margin-bottom: 2px; 
    font-family: RobotoCondensed-Bold;
    font-size: 16px;
}

.sugestao ol li input{
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
    height: 30px;
    border-width: 1px;
    border-color: snow;
    border-style: outset;
}

.sugestao ol li select{
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
    height: 30px;
    border-width: 1px;
    border-color: snow;
    border-style: outset;
}

.sugestao ol li textarea{
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
    border-width: 1px;
    border-color: snow;
    border-style: outset;
}

.sugestao p input {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 0px 0px 10px 12px;
    font-family: RobotoCondensed-Bold;
    font-size: 16px;

}

/* Mensagens de envio no Cforms */
.cf_info{
    width: 100%;
    font-size: 30px;
}