
html {
    box-sizing: border-box;
  }

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/* body {
    background: #1a1a1a;
  } */

nav {
  background: #212121;
  /* height: 70px; */
  height: 100px;
  z-index: 1;
  font-family: RobotoCondensed-Bold;
}

nav #brand {
  float: left;
  display: block;
  margin: 15px 24px 12px 120px;
  font-size: 20px;
  line-height: 70px;
  font-weight: bold;
}

nav #brand a {
  color: #fff;
  transition: all 0.3s ease-out;
}

nav #brand a:hover {
  color: #777777;
}

nav .menu {
    float: left;
    left: 10%;
    top: 15%;
    position: relative;
  }

nav .menu li {
  display: inline-block;
  padding: 0px 30px;
  cursor: pointer;
  line-height: 70px;
  position: relative;
  transition: all 0.3s ease-out;
}

nav .sub-menu li{
    background: tomato;
}

nav .menu li a {
  color: #fff;
  font-size: 17px;
}

nav .menu li:hover {
  background: #333;
}



#toggle {
  position: absolute;
  right: 20px;
  top: 14px;
  z-index: 999;
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

#toggle .span {
  height: 7px;
  background: #333;
  margin: 5px auto;
  backface-visibility: hidden;
}

#toggle.on #one {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}

#toggle.on #two {
  opacity: 0;
}

#toggle.on #three {
  transform: rotate(-45deg) translateX(10px) translateY(-12px);
}

#resize {
  z-index: 1;
  position: absolute;
  top: 0px;
  background: #ddd;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  display: table;
}

#resize .menu {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

#resize .menu li {
  display: block;
  text-align: center;
  padding: 20px 0;
  text-align: center;
  font-size: 35px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize .menu li:hover {
  background: #212121;
}

#resize .menu li:hover a {
  color: #fff;
  transition: all 0.3s ease-out;
}

#resize .menu li a {
  color: #212121;
}

#resize.active {
  visibility: visible;
  opacity: 0.99;
}

@media (max-width: 1260px) {
  header{
      display: none;
  }
  #toggle {
    visibility: visible;
    opacity: 1;
  }
  nav .menu {
    display: none;
  }

  nav #brand {
    display: block;
    margin-left: 14%;
  }
  
}

@media (min-width: 1260px) {
    #resize {
        visibility: hidden !important;
      }
}