/* img do menu */
#brand a img{
    /* width: 189px; */
    height: 75px;
}

/* INÍCIO DO CABEÇALHO */

.testeira img {
    width: 100%;
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}

/* FIM DO CABEÇALHO */

/* MENU PRINCIPAL ESTÁ EM nav.css */

.container{
    width: 100%;
}

.container fieldset{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

#middle img {
	margin-top: 20px;
	width: 100%;
}

#middle {
	margin: 15px 0;
}

#upload {
    height: 400px;
    overflow: auto;
    background: #fff;
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 5%;
}

#upload a {
    font-size: 25px;
    color: rgb(0,133,6);
    font-weight: bold;
}

/* INÍCIO DA POSIÇÃO DA IMAGEM RESULTADOS */

.container img {
	margin-left: 10%;
	margin-right: 10%;
}

#ultima_publicacao img, #post_unico img{
    margin-left: 4%;
    width: 100%;
    height: 100%;
}

#banner_index {
    margin-top: 1%;
    margin-left: 0%;
	margin-right: 0%;
    width: -webkit-fill-available;
}

@media (max-width: 1260px) {
    #banner_index {
        margin-top: 1%;
    }
}



/* FIM DA POSIÇÃO DA IMAGEM RESULTADOS */

/* FIM DO CORPO */

/* INÍCIO DO FORMULÁRIO */

/* form {
    margin-top: 100px;
    margin-left: 10%;
} */

h2 {
    color: rgb(0,133,6);
    font-weight: bold;
    font-family: RobotoCondensed-Bold;
    font-size: 30px;
}

.posicao {
    margin-bottom: 50px;
}

#botao {
  background-color: rgb(0,133,6);
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

#botao:hover {
    opacity: 0.7;
}

#enviar { 
    text-align: center;
}

.botaoEnviar{
    background-color: rgb(0,133,6);
    border-radius: 5px;
    color: white;
    width: 400px;
    text-align: center;
    padding: 5px 20px;
    border: 1px solid #eee;
    font-size: 16px;
    font-weight: bold;
}

.botaoEnviar:hover {
    opacity: 0.7;
}

#termos {
    margin: 20px 0 5px 0;
}

.campo {
    margin-bottom: 2em;
}

.campo label {
    margin-bottom: 0.5em;
    color: #aaa;
    display: block;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    border-radius: 5px;
}

/* FIM DO FORMULÁRIO */

/* INÍCIO DO RODAPÉ */

footer {
    /* margin: 0;  */
    padding: 0;
    margin-top: 0%;
}

.rodape p {
    text-align: center;
    margin-top: -20px;
    color: #ddd;
    font-size: 8px;
}

.rodape .fundo {
    width: 100%;
    height: 234px;
    background-image: url("../img/rodape-bandeira.png");
    background-size: cover;
}

.rodape .logos_estado{
    z-index: 1;
    right: 1%;
    /* background-color: black; */
    /* width: 52%; */
    position: absolute;
    margin-top: 2%;
    height: 9%;
}

.rodape .logos_estado_icones{
    z-index: 1;
    right: 1%;
    display: none;
    width: 52%;
    position: absolute;
    margin-top: 39%;
    height: 9%;
}

.rodape .logo_planoestadual{
    z-index: 1;
    left: 5%;
    /* background-color: black; */
    width: 20%;
    position: absolute;
    margin-top: 39%;
    /* height: 9%; */
}

@media (max-width: 1260px) {
    #banner_index {
        margin: 7% 0% 11% 0%;
    }

    .rodape .logos_estado{
        margin-top: 5%;
    }

    .rodape .logo_planoestadual{
        margin-top: 53%;
    }
    
    .rodape .fundo{
        height: 234px;
    }
    
}

@media (max-width: 990px) {
    .rodape .logos_estado{
        margin-top: 2%;
        width: 80%;
    }
    
    .rodape .logo_planoestadual{
        
        margin-top: 3%;
        height: 7%;
    }
}

@media (max-width: 800px) {

    .rodape .copy{
        display: none;
    }

    #banner_index {
        margin: 40% 0% 40% 0%;
    }

    .rodape .logos_estado{
        display: none;
        margin-top: 25%;
        width: 95%;
        left: 20px;
    }
    
    .rodape .logos_estado_icones{
        display: block;
        margin-top: 15%;
        min-width: 95%;
        min-height: 10%;
        left: 10px;
    }
    
    .rodape .logo_planoestadual{
        margin: 5% 0px 30px 0px;
        height: 10%;
        width: 45%;
        left: 30%;
    }

    .rodape .fundo {
        width: 100%;
        bottom: 0;
        
        /* height: 100px; */
    }
}

/* FIM DO RODAPÉ */