/*
Theme Name:     teste plano
Theme URI:      https://localhost
Author:         Eduardo
Author URI:     https://localhost
Description:    hotsite para teste plano
Version:        0.0.1
WordPress Available:  yes
Requires License:    no

*/

/* FIM DO CABEÇALHO */

/* INÍCIO PESQUISAR DO MENU PRINCIPAL */

#pesquisar {
	float: right;
	padding: 10px;
}

#pesquisar input {
	padding: 5px;
    border-radius: 5px;
}

#pesquisar i {
    position: relative;
    left: -30px;
    top: 1px;
    color: #aaa;
    cursor:pointer;
    width: 0;
    font-size: 20px;
}


/* FIM DO MENU PRINCIPAL */

/* INÍCIO DO CORPO */

#middle img {
	margin-top: 20px;
	width: 100%;
}

#middle {
	margin: 15px 0;
}

#upload {
    /*max-height: 500px;*/
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 15%;
}

#upload a {
    font-size: 25px;
    color: rgb(0,133,6);
    font-weight: bold;
}

/* INÍCIO DA POSIÇÃO DA IMAGEM RESULTADOS */

.container img {
	margin-left: 10%;
	margin-right: 10%;
}

/* FIM DA POSIÇÃO DA IMAGEM RESULTADOS */

/* FIM DO CORPO */

/* INÍCIO DO FORMULÁRIO */

form {
    margin-top: 100px;
    margin-left: 10%;
}

h2, p {
    color: rgb(0,133,6);
    font-weight: bold;
}

.posicao {
    margin-bottom: 50px;
}

#botao {
  background-color: rgb(0,133,6);
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#botao:hover {
    opacity: 0.7;
}

#enviar { 
    text-align: center 
}

.botaoEnviar{
    background-color: rgb(0,133,6);
    border-radius: 5px;
    color: white;
    width: 400px;
    text-align: center;
    padding: 5px 20px;
    border: 1px solid #eee;
    
    
    font-size: 18px;
}

.botaoEnviar:hover {
    opacity: 0.7;
}

#termos {
    margin: 20px 0 5px 0;
}

.campo {
    margin-bottom: 2em;
}

.campo label {
    margin-bottom: 0.5em;
    color: #aaa;
    display: block;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    border-radius: 5px;
}

/* FIM DO FORMULÁRIO */

/* INÍCIO DO RODAPÉ */

footer {
    margin: 0;
    padding: 0;
}

.rodape p {
    text-align: center;
    margin-top: -20px;
    color: #ddd;
    font-size: 8px;
}

.rodape img {
    width: 100%;
}

/* FIM DO RODAPÉ */